{% extends 'nav.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
         
        .headbar{
            display: flex;
            justify-content:space-evenly;
            background-color:whitesmoke;
            padding: 10px;
            font-size: 16px;
            margin-top: 10px;

    
        }
        #select{
            margin-top:15px;
            width:500px;
        }
        #vehicle-types{
            border:1px solid black;
            width:300px;
            height:40px;
            text-align:center;
            border-radius:10px;
            background-color:cornflowerblue;
            color:black;
            transition-duration:0.3s;
            transition-timing-function:ease;
            box-shadow:2px 3px gray;
        }
        
        #vehicle-types:hover{
            background-color:white;
            background-color:black;
            color:white;
            box-shadow:2px 3px cornflowerblue;
            
        }
    </style>
</head>
<body>
    <div class="headbar">
        <div >
    <h1>Vehicle Types</h1>
    </div>
    <div>
        <div id="select">
   
    <select id="vehicle-types" name="vehicle-types" onchange="window.location.href=this.value;">
        <option value="" disabled selected>Select Customer</option>
        {% for transit_agency in transit_agencies %}
        <option value="{% url 'transit_agency_detail' transit_agency.id %}">{{ transit_agency.name }}</option>
        {% endfor %}
    </select>
    
    </div>
    </div>
    </div>
</body>
</html>
{% endblock %}
